MYSQL_ROOT_PASSWORD=123456
MYSQL_DATABASE=oa_system
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USERNAME=root
MYSQL_PASSWORD=123456

REDIS_HOST=127.0.0.1
REDIS_PORT=7379
REDIS_DATABASE=0

NACOS_SERVER_ADDR=127.0.0.1:8848
NACOS_PORT=8848
NACOS_GRPC_PORT=9848
NACOS_RAFT_PORT=9849

SENTINEL_DASHBOARD_PORT=18958
SENTINEL_DASHBOARD=127.0.0.1:18958
SENTINEL_GATEWAY_PORT=8720
SENTINEL_WEB_PORT=8721

SEATA_ENABLED=true
SEATA_SERVER_ADDR=127.0.0.1:8091
SEATA_PORT=8091
SEATA_CONSOLE_PORT=7091

FEIGN_CONNECT_TIMEOUT=3000
FEIGN_READ_TIMEOUT=5000
FEIGN_LOGGER_LEVEL=basic

OA_UPLOAD_IMAGE_DIR=uploads/images
